/*--copyrights start here--*/
.copyrights {
    padding: 1.5em 1em;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
.copyrights p {
    font-size: 1em;
    color: #000;
}
.copyrights p a{
    color: #000;
}
.copyrights p a:hover{
    color:#68AE00;
}
.copyrights p {
    font-size: 0.9em;
}
.copyrights p {
    font-size: 0.8em;
}